<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404 | Hardware Fingerprinting Project</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body class="mdc-typography">
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <h1 class="mdc-toolbar__title">Hardware Fingerprinting Project</h1>
      </section>
    </div>
  </header>
  <main class="page">
    <section class="hero" style="height: 100vh;">
      <h2 class="mdc-typography--display2">404 Page Not Found <i class="material-icons md-48" style="vertical-align: bottom;">sentiment_dissatisfied</i></h2>
    </section>
  </main>
  <script src="node_modules/material-components-web/dist/material-components-web.js"></script>
  <script>
    mdc.autoInit()
  </script>
  <script src="scripts/main.js"></script>
</body>

</html>
